@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	color: #333333;
}
body{	 
	font-family: "PingFangSC-Regular", "Microsoft YaHei"; 
} 

p,ul,li,a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
li{
	list-style: none;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
::-webkit-scrollbar  
{  
    width: 8px;  
    height: 16px;  
    background-color: #fff;  
}  

/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */ 
    border-radius: 10px;  
    background-color: #fff;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #C9C9C9;  
} 
.clearfix {
	/*兼容 IE*/
	zoom: 1;
}
.notice-box{
	cursor: pointer;
	width: 100%;
	background-color: #FFECEC;
	color: #BE5A5A;
	font-size: 16px;
	padding-left: 19.58%;
	box-sizing: border-box;
	-webkit-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select:none; 
	user-select:none;
}
.notice-box #notice{
	line-height: 60px;
	display: inline-block;
	width: 67.55%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
}
.notice-box #notice-btn{
	float: left;
	margin-top: 17px;
	margin-left: 6.5%;
}
.banner {
	height: 500px;
	overflow: hidden;
	margin: 0 auto;
	min-width: 1200px;
}
#color-text{
	display: none;
	color: #F37B46;
}
.banner .d1 {
	width: 100%;
	height: 500px;
	display: block;
	position: absolute;
	left: 0px;
	min-width: 1200px;
	cursor: default;
}

.banner .d2 {
	display: block !important;
	width: 100%;
	height: 30px;
	clear: both;
	position: absolute;
	z-index: 100;
	left: 0px;
	/*top: 590px;*/
	top: 530px;
}

.banner .d2 ul {
	float: left;
	position: absolute;
	left: 50%;
	top: 0;
	margin: 0 0 0 -77px;
	display: inline;
}

.banner .d2 ul li {
	width: 15px;
	height: 15px;
	overflow: hidden;
	cursor: pointer;
	background-color: #B1B1B1;
	border-radius: 50%;
	float: left;
	margin: 0 8px;
	display: inline;
	opacity: 0.6;
}

.banner .d2 ul .nuw {
	background-color: #fff;
}
.superiority {
	width: 933px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0;
}
.superior-list {
	float: left;	
	width: 102px;
	margin-left: 105px;
}
.superior-list:nth-child(1) {
	margin-left: 0;
}
.superior-text {
	color: #333;
	font-size: 14px;
	margin-top: 10px;
}
.user {
	background-color: #f7f7f7;
}
.user .userBox {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	height: 160px;
}

.user .userBox p {
	line-height: 160px;
	font-size: 24px;
	font-family: "PingFangSC-Regular", "Microsoft YaHei"; 
}

.user .userBox p .hidden {
	/*color: #fff;*/
	height: 100%;
	display: inline-block;
	line-height: 0;
}

.user .userBox p .timer {
	font-size: 80px;
	color: #f37b46;
	font-family: "PingFangSC-Semibold", "Microsoft YaHei";
	padding-left: 62px;
	padding-right: 62px;
	display: inline-block;
}
.common-box {
	width: 100%;
	background: -moz-linear-gradient(left, #ffac0c 0%, #ff5943 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffac0c), color-stop(100%,#ff5943));
    background: -webkit-linear-gradient(left, #ffac0c 0%,#ff5943 100%);
    background: -o-linear-gradient(left, #ffac0c 0%,#ff5943 100%);
    background: -ms-linear-gradient(left, #ffac0c 0%,#ff5943 100%);
    background: linear-gradient(to right, #ffac0c 0%,#ff5943 100%);
}
.comm-box{
	width: 1200px;
	min-width: 1200px;
	margin: 60px auto;
	padding-bottom: 73px;
	margin-bottom: 0;
}
.comm-list{
	width: 224px;
	padding: 15px 15px 15px 20px;
	background-color: #fff;
	box-sizing: border-box;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}
.comm-list2{
	width: 224px;
	box-sizing: border-box;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 134px;
	color: #fff;
	cursor: pointer;
	border:1px solid #fff;
}
.comm-list:nth-child(1){
	margin-left: 0;
}
.comm-list:nth-child(5n+1){
	margin-left: 0;
}
.com-phone{
	font-size: 20px;
	line-height: 20px;
	color: #333;
}
.com-mal{
	font-size: 14px;
	line-height: 14px;
	color: #5e5e5e;
	margin-top: 14px;
}
.com-bottom{
	margin-top: 28px;
}
.price-box{
	display: inline-block;
}
.comPrice-item{
	color: #c9c9c9;
	font-size: 14px;
	line-height: 14px;
}
.com-price{
	font-size: 24px;
	line-height: 24px;
	color: #f37b46;
}
.com-fix{
	display: inline-block;
	float: right;
	color: #c9c9c9;
	font-size: 14px;
	line-height: 28px;
	cursor: pointer;
}
.common-title{
	color: #fff;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	padding-top: 60px;
}
.brand {
	background-color: #f7f7f7;
	width: 100%;
	min-width: 1200px;
	padding-bottom: 60px;
}

.brand .title {
	text-align: center;
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 36px;
	padding-top: 60px;
}

.brand .brand-box {
	width: 1002px;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 59px;
}

.brand .brand-box .page-one .search {
	height: 81px;
	margin-bottom: 60px;
}

.brand .brand-box .page-one .search .search-bar {
	width: 401px;
	height: 40px;
	border: 1px solid #C9C9C9;
	margin-left: 384px;
	margin-top: 28px;
	float: left;
}

.brand .brand-box .page-one .search .search-bar .search-text {
	border: 0;
	width: 320px;
	height: 38px;
	outline: none;
	padding-left: 30px;
	float: left;
	font-size: 16px;
}

.brand .brand-box .page-one .search .search-bar .sure-btn {
	border: 0;
	background: none;
	outline: none;
}

.brand .brand-box .page-one .search .search-bar .sure-btn .search-pic {
	width: 22px;
	height: 22px;
	margin-top: 7px;
	margin-left: 10px;
}

.brand .brand-box .page-one .search .more {

	float: left;
	margin-top: 28px;
	height: 40px;
	margin-left: 56px;
}
.brand .brand-box .page-one .search .more :hover{
	cursor:pointer;
}
.brand .brand-box .page-one .search .more p {
	line-height: 40px;
	font-size: 16px;
	color: #F37B46;
	float: left;
	padding-left: 10px;
}

.brand .brand-box .page-one .search .more img {
	width: 25px;
	height: 25px;
	float: left;
	display: block;
	margin-top: 7px;
}

.brand .brand-box .page-one .one-left {
	width: 300px;
	float: left;
}

.brand .brand-box .page-one .one-left .model-pic {
	height: 245px;
	width: auto;
	display: block;
	margin: 0 auto;
}

.brand .brand-box .page-one .one-left .model-text {
	font-size: 24px;
	color: #333;
	text-align: center;
	padding-top: 46px;
}

.brand .brand-box .page-one .one-right {
	float: left;
	margin-left: 40px;
	width: 545px;
}

.brand .brand-box .page-one .one-right .color .color-name {
	float: left;
	line-height: 28px;
	color: #000;
	font-family: "PingFangSC-Regular";
	font-size: 18px;
}
.choose-wrong{
	margin-top: 53px;
	float: left;
	line-height: 28px;
	color: #000;
	font-family: "PingFangSC-Regular";
	font-size: 18px;	
}
.brand .brand-box .page-one .one-right .color .color-list {
	width: 450px;
	float: left;
}

.brand .brand-box .page-one .one-right .color .color-list .color-btn {
	border: 1px solid #c9c9c9;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: red;
	display: inline-block;
	margin-left: 58px;
	box-sizing: border-box;
	outline: none;
}
.brand .brand-box .page-one .one-right .color .color-list .color-btn:nth-child(6){
	margin-top: 5px;
}
.brand .brand-box .page-one .one-right .color .color-list .color-btn:nth-child(7){
	margin-top: 5px;
}
.brand .brand-box .page-one .one-right .color .color-list .color-btn:nth-child(8){
	margin-top: 5px;
}
.brand .brand-box .page-one .one-right .color .color-list .colorChoice {
	background-image: url("http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/color_arrow.png");
	background-size: 28px 28px;
	width: 28px;
	height: 28px;
	background-color: #F37B46 !important;
}
.brand .brand-box .page-one .one-right .break {
	float: left;
	width: 465px;
	margin-top: 53px;
}
/*.break-wrap{
	float: left;
	margin-left:42px;
	width: 415px;
	height: 260px;
	overflow: hidden;
}*/
.brand .brand-box .page-one .one-right .break .break-list {
	margin-left:42px;
	float: left;	
	height: 260px;
	overflow-y: auto;
	overflow-x: hidden;
}

.brand .brand-box .page-one .one-right .break .break-list .break-bg {
	font-family: "PingFangSC-Regular";
	font-size: 16px;
	background: url("../image/break_bg.png") no-repeat;
	width: 415px;
	height: 55px;
	background-size: 400px 55px;
	padding-bottom: 14px;
	line-height: 55px;
	padding-left: 23px;
}
.brand .brand-box .page-one .one-right .break .break-list .break-bg :hover{
	cursor:pointer;
}
.brand .brand-box .page-one .one-right .break .break-list .break-bg span {
    font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 18px;
	float: right;
	padding-right: 60px;
	color: #F37B46;
}

.brand .brand-box .page-one .one-right .break .break-list .break-bg1 {
	background: url("http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/break_bg1.png") no-repeat;
	width: 520px;
	height: 55px;
	background-size: 520px 55px;
	padding-bottom: 14px;
	line-height: 55px;
	padding-left: 16px;
}

.brand .brand-box .page-one .one-right .break .break-list .break-bg1 span {
	float: right;
	padding-right: 40px;
	color: #F37B46;
}

.brand .brand-box .page-one .one-right .btn {
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	width: 202px;
	height: 57px;
	background-color: #F37B46;
	border: 0;
	margin-top: 50px;
	float: right;
	color: #fff;
	font-size: 20px;
	margin-bottom: 44px;
}

.brand .brand-box .page-two {
	padding-left: 87px;
	padding-right: 87px;
	background-color: #fff;
	display: none;
}

.brand .brand-box .page-two .tow-name {
	font-size: 18px;
	color: #333;
	padding-top: 55px;
}

.brand .brand-box .page-two .two-brand {
	padding-top: 46px;
}

.brand .brand-box .page-two .two-brand li {
	list-style: none;
	display: inline-block;
	width: 100px;
	text-align: center;
}

.brand .brand-box .page-two .two-brand li .brand-pic {
	width: 94px;
	height: 38px;
}

.brand .brand-box .page-two .two-brand li .brand-name {
	font-size: 16px;
	color: #333;
	padding-top: 5px;
}

.brand .brand-box .page-two .t-model-name {
	color: #000004;
	font-size: 16px;
	padding-top: 36px;
}

.brand .brand-box .page-two .two-model {
	margin-top: 38px;
}

.brand .brand-box .page-two .two-model .model-btn {
	font-size: 16px;
	height: 31px;
	background-color: #fff;
	border: 0;
	margin-right: 19px;
	margin-bottom: 10px;
	outline: none;
}

.brand .brand-box .page-two .two-model .model-btn-c {
	background-color: #333;
	color: #fff;
	border-radius: 5px;
}
.btn-submit{
	margin-top: 50px;
	padding-bottom: 43px;
}
.brand .brand-box .page-two #return{
	float: left;
	width: 201px;
	height: 57px;
	background-color: #fff;
	border: 1px solid #F37B46;
	margin-left: 395px;
}
.brand .brand-box .page-two #return img{
	margin-top: 3px;
	width: 12px;
	height: 20px;
	float: left;
	margin-left: 58px;
}
.brand .brand-box .page-two #return p{
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 20px;
	float: left;
	color: #F37B46;
	padding-left: 27px;
}
.brand .brand-box .page-two .two-submit {
	float: left;
	width: 201px;
	height: 57px;
	background-color: #F37B46;
	border: 0;
	margin-left: 29px;
}

.brand .brand-box .page-two .two-submit p {
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 20px;
	float: left;
	color: #fff;
	padding-left: 40px;
}

.brand .brand-box .page-two .two-submit img {
	margin-top: 5px;
	width: 12px;
	height: 20px;
	float: left;
	margin-left: 30px;
}

.brand .brandBox {
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 59px;
}

.brand .brandBox .b-left {
	width: 300px;
	border-right: 1px solid #C9C9C9;
	margin-top: 104px;
	margin-bottom: 104px;
	float: left;
}

.brand .brandBox .b-left .model-pic {
	height: 245px;
	width: auto;
	display: block;
	margin: 0 auto;
}

.brand .brandBox .b-left .model-text {
    font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 24px;
	color: #F37B46;
	text-align: center;
	padding-top: 46px;
}

.littleBanner .lBannerBox {
	width: 1300px;
	margin: 0 auto;
}

.littleBanner .lBannerBox .item {
	transition:All 0.4s ease-in-out;
	-webkit-transition:All 0.4s ease-in-out;
	-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;
	background: url("http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/little_bannerbg1.png") no-repeat;
	width: 384px;
	height: 194px;
	margin: 80px 0 80px 0;
	float: left;
	border-radius: 15px;
	display: block;
}
.littleBanner .lBannerBox .item:hover{
	transform:translate(0,-10px);
	-webkit-transform:translate(0,-10px);
	-moz-transform:translate(0,-10px);
	-o-transform:translate(0,-10px);
	-ms-transform:translate(0,-10px);
}
.littleBanner .lBannerBox .item .title {
	padding-top: 27px;
}

.littleBanner .lBannerBox .item .title img {
	float: left;
	margin-left: 34px;
}

.littleBanner .lBannerBox .item .title p {
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	line-height: 40px;
	float: left;
	padding-left: 20px;
	font-size: 30px;
	color: #006979;
}

.littleBanner .lBannerBox .item .price {
	font-size: 16px;
	color: #006979;
	padding-top: 20px;
	padding-left: 34px;
}

.littleBanner .lBannerBox .item .price span {
	font-size: 36px;
	font-family: "PingFangSC-Semibold", "Microsoft YaHei";
	padding-left: 4px;
	padding-right: 1px;
}

.littleBanner .lBannerBox .item .bannerarrow {
	margin-left: 40px;
	display: block;
	width: 28px;
	height: 28px;
	margin-top: 10px;
}

.littleBanner .lBannerBox .bg2 {
	background: url("http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/little_bannerbg2.png") no-repeat;
	/*margin-left: 20px;*/
	margin-right: 20px;
}

.littleBanner .lBannerBox .bg2 .title p {
	color: #795e00;
}

.littleBanner .lBannerBox .bg2 .price {
	color: #795e00;
}

.littleBanner .lBannerBox .bg3 {
	background: url("http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/little_bannerbg3.png") no-repeat;
}

.littleBanner .lBannerBox .bg3 .title p {
	color: #006a25;
}

.littleBanner .lBannerBox .bg3 .price {
	color: #006a25;
}
.littleBanner .lBannerBox .bg4 {
	background: url("http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/little_bannerbg4.png") no-repeat;
}

.littleBanner .lBannerBox .bg4 .title p {
	color: #4a3bdb;	
}

.littleBanner .lBannerBox .bg4 .price {
	color: #4a3bdb;
}
.littleBanner .lBannerBox .bg5 {
	background: url("http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/little_bannerbg5.png") no-repeat;
}

.littleBanner .lBannerBox .bg5 .title p {
	color: #5a592e;
}

.littleBanner .lBannerBox .bg5 .price {
	color: #5a592e;
}
.fast {
	background-color: #F7F7F7;
	width: 100%;
	min-width: 1200px;
}

.fast .fastbox {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.fast .fastbox .title {
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 36px;
	color: #333;
	padding-top: 60px;
}

.fast .fastbox .subtitle {
	font-family: "PingFangSC-Regular", "Microsoft YaHei"; 
	font-size: 18px;
	color: #333;
	padding-top: 27px;
}

.fast .fastbox .itembox {
	margin: 0 auto;
	margin-top: 90px;
	width: 485px;
}

.fast .fastbox .itembox .item {
	width: 160px;
	height: 90px;
	float: left;
	margin-bottom: 70px;
}

.fast .fastbox .itembox .item p {
	font-family: "PingFangSC-Semibold", "Microsoft YaHei";
	font-size: 30px;
	color: #F01429;
}

.fast .fastbox .itembox .item p span {
	font-family: "PingFangSC-Regular", "Microsoft YaHei"; 
	color: #333;
	font-size: 18px;
}

.fast .fastbox .itembox .line {
	border-left: 1px solid #898989;
	border-right: 1px solid #898989;
}

.service {
	background: url("http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/servicebg.png") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ddd;
}

.service .servicebox {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.service .servicebox .title {
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 36px;
	color: #fff;
	padding-top: 60px;
}

.service .servicebox .lineone {
	margin-top: 70px;
}

.service .servicebox .lineone .item {
	width: 300px;
	float: left;
}

.service .servicebox .lineone .item .icon {
	width: 138px;
	height: 110px;
	margin: 0 auto;
}

.service .servicebox .lineone .item p {
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 24px;
	color: #fff;
	padding-top: 20px;
}

.service .servicebox .lineone .item p span {
	font-size: 14px;
	font-family: "PingFangSC-Regular", "Microsoft YaHei"; 
}

.service .servicebox .linetwo {
	width: 900px;
	margin: 0 auto;
	margin-top: 52px;
	padding-bottom: 82px;
}

.service .servicebox .linetwo .item {
	width: 300px;
}

.process .processbox {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.process .processbox .title {
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 36px;
	color: #333;
	padding-top: 100px;
}

.process .processbox .itembox {
	margin-top: 60px;
}

.process .processbox .itembox .item {
	background: url("http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/procebg1.png") no-repeat;
	width: 280px;
	height: 257px;
	float: left;
	margin-right: 26px;
}

.process .processbox .itembox .item p {
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 18px;
	color: #333;
	padding-top: 210px;
}

.process .processbox .itembox .bg2 {
	background: url("http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/procebg2.png") no-repeat;
}

.process .processbox .itembox .bg3 {
	background: url("http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/procebg3.png") no-repeat;
}

.process .processbox .itembox .bg4 {
	background: url("http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/procebg4.png") no-repeat;
	margin-right: 0;
}

.process .processbox .btn {
	background: #f37b46;
	display: block;
	width: 415px;
	height: 72px;
	margin: 0 auto;
	margin-top: 95px;
	border-radius: 10px;
	margin-bottom: 95px;
}

.process .processbox .btn p {
	line-height: 72px;
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 24px;
	color: #fff;
}

.form .f-name {
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 36px;
	text-align: center;
	padding-top: 40px;
}

.form .show {
	background-color: #f7f7f7;
	width: 886px;
	margin: 0 auto;
	margin-top: 60px;
	padding-bottom: 20px;
}

.form .show li {
	list-style: none;
	font-size: 16px;
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	padding-left: 38px;
	padding-top: 20px;
}

.form .show li span {
	padding-left: 44px;
}

.form .show li .price {
	color: #F37B46;
	font-size: 24px;
}

.form .listbox {
	padding-top: 30px;
	width: 886px;
	margin: 0 auto;
}

.form .listbox .modelbox .mode-name {
	font-size: 16px;
	color: #333;
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	width: 110px;
	float: left;
	text-align: left;
	line-height: 54px;
}

.form .listbox .modelbox .model-info {
	float: left;
	margin-bottom: 16px;
}

.form .listbox .modelbox .model-info .inputbox {
	background: url(http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/mi_arrow.png) no-repeat 210px;
	height: 54px;
	border: 1px solid #DCDCDC;
	width: 240px;
	float: left;
	margin-left: 16px;
	box-sizing: border-box;
}
.vcode{
	background-image: none !important;
}
option{
	border-top: 1px solid #000;
}
.form .listbox .modelbox .model-info .inputbox select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-border-radius: 0;
	width: 240px;
	height: 54px;
	outline: none;
	border: 0;
	background: 0;
	padding-left: 20px;
	font-size: 16px;
}
.form .listbox .modelbox .model-info .inputbox .codeinput {
	box-sizing: border-box;
	width: 100px;
	height: 54px;
	padding-left: 20px;
	border: 0;
	background: 0;
	outline: none;
	font-size: 16px;
}

.form .listbox .modelbox .model-info .inputbox .codebtn {
	border: 0;
	background: 0;
	font-family: "PingFangSC-Regular", "Microsoft YaHei"; 
	font-size: 16px;
	color: #F37B46;
	outline: none;
	cursor: pointer;
	padding: 0;
	width: 110px;
}

.form .listbox .modelbox .model-info span {
	color: #F37B46;
	display: none;
	font-size: 14px;
	font-family: "PingFangSC-Regular", "Microsoft YaHei"; 
	padding-left: 20px;
}

.form .listbox .modelbox .model-info .namebox {
	float: left;
}

.form .listbox .modelbox .model-info .namebox input {
	width: 240px;
	height: 54px;
	padding: 0;
	margin: 0;
	outline: none;
	font-size: 16px;
	margin-left: 16px;
	padding-left: 20px;
	box-sizing: border-box;
	border: 1px solid #DCDCDC;
}

.form .listbox .modelbox .model-info .namebox span {
	color: #ff5151;
	display: none;
	font-size: 14px;
	font-family: "PingFangSC-Regular", "Microsoft YaHei"; 
	padding-left: 30px;
}

.form .listbox .modelbox .model-info .message {
	border: 1px solid #DCDCDC;
	width: 731px;
	height: 54px;
	padding-left: 20px;
	font-size: 16px;
	outline: none;
	margin-left: 16px;
}

.form .listbox .modelbox .model-info .allbox .inputbox {
	height: 54px;
	border: 1px solid #DCDCDC;
	margin-top: 27px;
	width: 240px;
	float: left;
	margin-right: 30px;
	background: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.form .listbox .modelbox .model-info .allbox .inputbox select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-border-radius: 0;
	width: 205px;
	height: 54px;
	outline: none;
	border: 0;
	background: 0;
	padding-left: 20px;
	font-size: 16px;
}

.form .listbox .modelbox .addressbox .name {
	font-size: 16px;
	color: #3F3F3F;
	padding-top: 32px;
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
}

.form .listbox .modelbox .addressbox .clean {
	margin-right: 0;
}

.form .listbox .modelbox .street {
	border: 1px solid #DCDCDC;
	width: 731px;
	height: 54px;
	padding-left: 20px;
	font-size: 16px;
	outline: none;
	margin-left: 126px;
	margin-top: 17px;
}
.form .listbox .modelbox .street:nth-child(2){
	margin-top: 17px;
}
.form .listbox .modelbox span {
	color: #F37B46;
	display: none;
	font-size: 14px;
	font-family: "PingFangSC-Regular", "Microsoft YaHei"; 
	padding-left: 146px;
}

.form .listbox .lg {
	margin-top: 20px;
}

.form .listbox .clean {
	margin-right: 0;
}

.form .listbox .submitbtn {
	width: 250px;
	height: 64px;
	background-color: #F37B46;
	font-family: "PingFangSC-Regular", "Microsoft YaHei"; 
	font-size: 24px;
	border: 0;
	color: #fff;
	outline: none;
	cursor: pointer;
	margin: 0 auto;
	margin-bottom: 89px;
	display: block;
	margin-top: 48px;
}


#centerDetails {
    display: none;
    width: 501px;
    background: #faf7f9;
    border-radius: 10px 10px 10px 10px;
    margin-left: 126px;
    margin-bottom: 16px;
}
#centerDetails p {
    padding: 27px 86px 29px 20px;
    font-size: 16px;
    font-family: "PingFangSC-Regular", "Microsoft YaHei";
    color: #96768b;
    line-height: 22px;
}
.branch{
	display: none;
}
#imei{
	margin-top: 17px;
	display: none;
}
#alladress{
	display: none;
}
#IMEI {
    width: 222px;
    height: 54px;
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 16px;
    border: 0;
    margin-left: 16px;
    padding-left: 20px;
    border: 1px solid #DCDCDC;
}
.modelbox .pstitle {
    float: left;
    margin-left: 15px;
    margin-top: 21px;
    font-family: "PingFangSC-Regular", "Microsoft YaHei";
    color: #96768b;
    font-size: 14px;
}
#invoicebox {
    display: none;
}
#colorbox{
	/*display: none;*/
	margin-left: 125px;
}
.personal{
	width: 200px;
	float: left;
}
.company{
	width: 200px;
	float: left;
}
.form .listbox .modelbox .personal .typeName{
	font-size: 16px;
	color: #333;
	display: inline-block;
	margin-left: 30px;
}
.form .listbox .modelbox .company .typeName{
	font-size: 16px;
	color: #333;
	display: inline-block;
	margin-left: 30px;
}
#invoice {
    /* float: left; */
    width: 17px;
    height: 17px;
    margin-left: 16px;
    margin-top: 21px;
}
#invoice2 {
    /* float: left; */
    width: 17px;
    height: 17px;
    margin-left: 16px;
    margin-top: 21px;
}
#invoiceTitle{
	display: none;
}
.new {
	background-color: #f7f7f7;
	min-width: 1200px;
}

.new .newbox {
	width: 1200px;
	margin: 0 auto;
}

.new .newbox .title {
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 36px;
	color: #333;
	padding-top: 50px;
	text-align: center;
}

.new .newbox .newlist {
	width: 1200px;
	/*padding-bottom: 120px;*/
	padding-bottom: 48px;
	margin-top: 50px;
}

.new .newbox .newlist .newitem {
	cursor: pointer;
	width: 600px;
	float: left;
	padding-top: 50px;
}

.new .newbox .newlist .newitem .listL {
	float: left;
	width: 86px;
	height: 58px;
	margin-right: 57px;
}

.new .newbox .newlist .newitem .listR {
	float: left;
	width: 400px;
}

.new .newbox .newlist .newitem .listR .rtitle {
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 24px;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.new .newbox .newlist .newitem .listR .rsubtitle {
	font-size: 14px;
	font-family: "PingFangSC-Regular", "Microsoft YaHei"; 
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-top: 10px;
}
.newsmore{
	text-align: center;
	padding-bottom: 120px;
}
.newsmore a{
	font-size: 24px;
	color: #333;
}
.newsmore a:hover{
	color: #F37B46;
}
.question {
	width: 100%;
	min-width: 1200px;
	background: url("http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/questionbg.png") no-repeat 100% 100%;
	background-color: #f7f7f7;
}

.question .questionbox {
	width: 1200px;
	margin: 0 auto;
}

.question .questionbox .title {
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	font-size: 36px;
	color: #333;
	padding-top: 150px;
	text-align: center;
}

.question .questionbox .qulist {
	padding-top: 40px;
	padding-bottom: 110px;
}

.question .questionbox .qulist li {
	padding-top: 25px;
	list-style: none;
}

.question .questionbox .qulist li .round {
	width: 12px;
	height: 12px;
	border: 1px solid #333;
	border-radius: 50%;
	margin-left: 20px;
	float: left;
	margin-top: 10px;
}

.question .questionbox .qulist li .info {
	font-family: "PingFangSC-Regular", "Microsoft YaHei"; 
	font-size: 24px;
	color: #333;
	float: left;
	padding-left: 25px;
	width: 1000px;
}

.question .questionbox .qulist li .info span {
	font-size: 14px;
	font-family: "PingFangSC-Regular", "Microsoft YaHei"; 
}

.toolbar {
	position: fixed;
	right: 0;
	bottom: 40px;
	width: 120px;
	border: 1px solid #dcdcdc;
	z-index: 1000;
	background-color: #fff;
	display: none;
}

.toolbar .servers {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	display: block;
	margin-top: 18px;
}

.toolbar .btn {
	width: 100px;
	height: 30px;
	background-color: #f37b46;
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	margin: 0 auto;
	line-height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.toolbar .gotop {
	color: #333;
	text-align: center;
	font-size: 14px;
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	padding-bottom: 20px;
}
.notice{
	color: #333;
	text-align: center;
	font-size: 14px;
	font-family: "PingFangSC-Regular", "Microsoft YaHei";
	padding-bottom: 20px;
}
.autocomplete-suggestions {
	width: 400px !important;
	border: 1px solid #C9C9C9;
	background-color: #fff;
	overflow: scroll;
	height: 400px;
}

.autocomplete-suggestions .autocomplete-suggestion {
	margin-top: 8px;
	margin-left: 10px;
}
#xuzhi{
	font-size: 16px;
	color: #999;
	line-height: 52px;
	display: inline-block;
	margin-left: 25px;
}
#xuzhi:hover{
	color: #F37B46;
}
#coupon-main1{
	float: left;
	margin-left: 16px !important;
}
#coupon-box{
	display: none;
}
.feedback-box{
	/*display: none;*/
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #666;
	z-index: 10000;
}
.feedback{
	width: 1200px;
/*	position: fixed;
	left: 15%;
	top: 15%;*/
	margin: 100px auto;
	z-index: 12000;
}
.feed-clear{
	position: absolute;
	top: 0;
	right: 0;
}
.feed-top{
	background: -webkit-gradient(linear, left bottom, right top, from(#FCAB74), to(#FF8B58));
	background: gradient(linear, left bottom, right top, from(#FCAB74), to(#FF8B58));;
	background: -o-gradient(linear, left bottom, right top, from(#FCAB74), to(#FF8B58));;
	background: -moz-gradient(linear, left bottom, right top, from(#FCAB74), to(#FF8B58));;
}
.feed-top2{
	background: -webkit-gradient(linear, left bottom, right top, from(#cd56ef), to(#6961e7 ));
	background: gradient(linear, left bottom, right top, from(#cd56ef), to(#6961e7 ));;
	background: -o-gradient(linear, left bottom, right top, from(#cd56ef), to(#6961e7 ));;
	background: -moz-gradient(linear, left bottom, right top, from(#cd56ef), to(#6961e7));;
}
.feed-top3{
	background: -webkit-gradient(linear, left bottom, right top, from(#91ecdc), to(#35d399 ));
	background: gradient(linear, left bottom, right top, from(#91ecdc), to(#35d399 ));;
	background: -o-gradient(linear, left bottom, right top, from(#91ecdc), to(#35d399 ));;
	background: -moz-gradient(linear, left bottom, right top, from(#91ecdc), to(#35d399));;
}
.feed-img{
	float: left;
	margin-top: 100px;
	margin-left: 170px;
	height: 170px;
	width: 250px;
	height: 250px;
	margin-bottom: 149px;
}
.feed-img img{
	width: 100%;
	height: 100%
}
.feed-main{
	margin-top: 76px;
	float: left;
	margin-left: 167px;
}
.feed-title{
	color: #FFEDDE;
	font-size: 30px;
}
.feed-text{
	margin-top: 20px;
	color: #FFEDDE;
	font-size: 16px;
}
.feed-text2{
	color: #fff;
}
.feed-text2{
	margin-top: 11px;
}
.feed-erweima{
	width: 150px;
	height: 150px;
	margin-top: 59px;
	float: left;
}
.feed-erweima img{
	width: 100%;
	height: 100%;
}
.feed-btn{
	cursor: pointer;
	float: left;
	width: 200px;
	height: 60px;
	margin-top: 107px;
	margin-left: 71px;
	border: 1px solid #fff;
}
.query-img{
	float: left;
	margin-left: 42px;
	margin-top: 17px;
	width: 22px;
	height: 24px;
}
.query{
	float: left;
	display: block;
	color: #FFFFFF;
	font-size: 20px;
	margin-left: 19px;
	line-height: 60px;
}
.feed-bottom{
	z-index: 12000;
	background-color: #FFFFFF;
	padding-top: 45px;
	padding-bottom: 50px;
}
.mess-title{
	font-size: 20px;
	color: #96768B;
	text-align: center;
}
.mess-main{
	margin-top: 22px;
	padding: 0 200px;
	font-size: 14px;
	color: #96768B;
}
.feed-phone{
	color: #F37B46;
}
.notice{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	border: 1px solid #b5b5b5;
	width: 800px;
	height: 564px;
	min-width: 800px;
	text-align: center;
	margin-left:-400px;
	margin-top:-282px;
	z-index: 1000;
	background-color: #fff;
}
.notice .notice-title{
	margin-top: 75px;
	color: #f17b4d;
	font-size: 18px;
	margin-bottom: 20px;
}
.notice .notice-time{
	font-size: 14px;
	color: #999999;
}
.notice .notice-box{
	text-align: left;
	width: 81.25%;
	margin: 60px auto;
	color: #333;
	font-size: 18px;
	line-height: 28px;
	background-color: #fff;
	margin-left: 0;
}
.notice .notice-img{
	float: right;
	margin-top: 20px;
	background-image: 
}
.notice .notice-btn{
	border-top: 1px solid #ccc;
	text-align: center;
	font-size: 24px;
	color: #f17b4d;
	width: 100%;
	height: 75px;
	line-height: 75px;
	cursor: pointer;
}
.swiper-container{
	padding-left: 50px;
	padding-right: 60px;
}
.swiper-button-prev{
	background-image: url(http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/index-left.png) !important;
}
.swiper-button-next{
	background-image: url(http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/index-right.png) !important;
}
.swiper-button-prev:hover{
	background-image: url(http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/index-left2.png) !important;
}
.swiper-button-next:hover{
	background-image: url(http://sxxcdn.oss-cn-hangzhou.aliyuncs.com/activity/index-right2.png) !important;
}
/*# sourceMappingURL=index.css.map */